div.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
}
div.alert {
  padding: 0px;
  border: 4px solid #700000;
  box-shadow: inset 0px 0px 15px #700000;
  border-radius: 1px;
  position: absolute;
  background-image: url("window.png");
  background-repeat: repeat repeat;
  z-index: 100;
  height: 100px;
  width: 450px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  padding-left: 20px;
  padding-top: 40px;
}
div.close {
  margin-top: -40px;
  float: right;
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #700000;
  box-shadow: 0px 0px 7px #700000;
  border-radius: 1px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);
  color: #FFF;
}
input[type="text"],input[type="password"] {
  padding-left: 5px;
  border-bottom-color: #B3B3B3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #B3B3B3;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #B3B3B3;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #B3B3B3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: 0px 0px 6px #AAA;
}
input[type="text"],input[type="password"],button {
  font-family: monospace;
}